main{height: 100vh;display: flex;align-items: center;flex-direction: column;justify-content: space-evenly;}
.cards{height: 50vh;display: flex;justify-content: center;flex-wrap: wrap; align-items: center;}
